* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
}
.NavBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1em;
  gap: 1em 0;
  background-color: #007a7c;
}
.NavBar h1 {
  color: #fff;
}
.content-logo-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-input-topo {
  display: flex;
  align-items: center;
  width: 30%;
}
.form-input-topo input[type="text"] {
  flex: 1; /* Ocupar todo o espaço disponível */
  height: 2.5em;
  border-radius: 0.3em 0 0 0.3em;
  outline: none;
  border: 0.06em solid #ccc; /* Adicionar uma borda para separar visualmente */
  border-right: transparent;
  padding: 0.5em;
  font-size: 1em;
}

#logout {
  padding: .3em .5em;
  font-size: 1.2em;
  background-color: #fff;
  color: #000;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  transition: all 0.3s ease;
}
#logout:hover {
  background-color: #bbb;
}

#search-button {
  height: 2.5em;
  border-radius: 0 0.3em 0.3em 0;
  padding: 0.5em;
  font-size: 1em;
  background: #eee;
  border: 0.06em solid #ccc;
  border-left: transparent;
  cursor: pointer;
}

#search-button i {
  font-size: 1.2em; /* Tamanho do ícone */
}
.ul-menu-topo {
  display: flex;
  align-items: center;
  gap: 1em;
}
.ul-menu-topo li {
  padding: 0.2em 0.3em;
  cursor: pointer;
}
.ul-menu-topo li,
a {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.ul-menu-topo li a:hover {
  color: #ddd;
}
/* Estilos para o submenu */
.submenu-animais {
  display: none;
  position: absolute;
  z-index: 999;
  right: 51%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Mostrar o submenu ao passar o mouse */
.ul-menu-topo li:hover .submenu-animais {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Estilo para os itens do submenu */
.submenu-animais li {
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  padding: 0.5em;
  white-space: nowrap;
}

.submenu-animais li:hover {
  color: #007a7c;
  background-color: #ddd;
}
.submenu-animais a li {
  color: #000;
}
.submenu-animais li:hover {
  color: #000;
  color: #007a7c;
}
.menu-link {
  position: relative;
  text-decoration: none;
  color: black;
}

.menu-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  background-color: #ccc;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.menu-link:hover::after {
  width: 100%; /* Tamanho da linha */
  left: 0%;
}
.menu-responsive {
  display: none;
}
.form-input-topo-responsive {
  display: none;
}
main {
  min-height: 80vh;
}
.content-rodape {
  background-color: #007a7c;
}
#Rodape {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em 0;
  padding: 0.5em;
}

#Rodape p {
  margin: 0.5em 0;
  text-align: center;
}

#Rodape a {
  color: #fff;
  transition: text-decoration 0.3s ease-in;
  margin: 0 0.5em;
  text-decoration: none;
}

#Rodape a:hover {
  text-decoration: underline;
}
.rede-social,
.info-site {
  text-align: center;
}
.rede-social i {
  font-size: 36px;
  margin: 0.3em 0;
}
.info-site div {
  margin: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em 0;
}
#copyright {
  text-align: center;
  padding: 10px;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .ul-menu-topo {
    display: none;
  }
  #logout{
    display: none;
  }
  #logout-mobile{
    color: #000;
  }
  .NavBar {
    flex-direction: row;
  }
  .NavBar form {
    display: none;
  }
  .menu-responsive {
    display: block;
  }
  #menu-bars {
    font-size: 1.5em;
    color: #fff;
  }
  .submenu-responsive {
    display: none; /* Esconder o submenu por padrão */
    position: absolute;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    color: #000;
    top: 12%;
    right: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* Mostrar o submenu ao passar o mouse */
  li:hover .submenu-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5em 0;
  }

  /* Estilo para os itens do submenu */
  .submenu-responsive a {
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    padding: 0.6em;
    width: 100%;
  }

  /* Estilo quando passa o mouse nos itens do submenu */
  #menu-bars li:hover {
    color: #007a7c;
    /* Por exemplo, mudança de cor ao passar o mouse */
  }
  .submenu-responsive li {
    color: #000;
    text-align: center;
    font-size: 14px;
  }
  .submenu-responsive li:hover .submenu-animais {
    display: flex;
    right: 0;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .submenu-animais li {
    padding: 0;
  }
  .form-input-topo-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
    width: 100%;
  }
  .form-input-topo-responsive input[type="text"] {
    height: 2.5em;
    width: 60%;
    border-radius: 0.3em 0 0 0.3em;
    outline: none;
    border: 0.06em solid #ccc;
    border-right: transparent;
    padding: 0.5em;
    font-size: 1em;
  }
  #Rodape {
    flex-direction: column;
  }
  .info-site div {
    flex-direction: row;
  }
}
