{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Home</title>
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="banner">
    <div class="overlay"></div>
    <div class="texto-banner">
        <h1>Sua nova melhor amiga está esperando por você!</h1>
        <p>Compartilhe ou encontre o seu companheiro perfeito para adoção.</p>
    </div>
</div>
<!-- Seção de Destaque de Animais -->
<section class="sessoes">
    <span class="title-secition">Mais Animais Adoráveis</span>
    <div id="content-animais-destaques">
        {% for animal in animais_destaques|slice:"6" %}
        <div class="content-anuncio">
            <div class="anuncio">
                <div class="content-img">
                    <img src="{{ animal.img_animal.url }}" alt="{{ animal.nome }}">
                </div>
                <span id="titulo-anuncio">{{ animal.titulo }}</span>
                <p id="date-create"><i class="far fa-clock"></i>{{ animal.data_criacao }}</p>
                <p id="anuncio-animal">Anuncio de {{ animal.animal }}</p>
                <button><a href="{% url 'infomacao-anuncio' animal.pk %}">Ver descrição</a></button>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section class="sessoes">
    <div class="content-title-section">
        <span class="title-secition">Mais Animais Adoráveis</span>
        <a href="/search-animal/?q=Cachorro">
            <p><i class="fas fa-plus"></i> Ver mais</p>
        </a>
    </div>
    <div id="content-animais-destaques">
        {% for animal in cachorros|slice:"6" %}
        <div class="content-anuncio">
            <div class="anuncio">
                <div class="content-img">
                    <img src="{{ animal.img_animal.url }}" alt="{{ animal.nome }}">
                </div>
                <span id="titulo-anuncio">{{ animal.titulo }}</span>
                <p id="date-create"><i class="far fa-clock"></i>{{ animal.data_criacao }}</p>
                <p id="anuncio-animal">Anuncio de {{ animal.animal }}</p>
                <button><a href="{% url 'infomacao-anuncio' animal.pk %}">Ver descrição</a></button>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section class="sessoes">
    <div class="content-title-section">
        <span class="title-secition">Mais Animais Adoráveis</span>
        <a href="/search-animal/?q=Gato">
            <p><i class="fas fa-plus"></i> Ver mais</p>
        </a>
    </div>
    <div id="content-animais-destaques">
        {% for animal in gatos|slice:"6" %}
        <div class="content-anuncio">
            <div class="anuncio">
                <div class="content-img">
                    <img src="{{ animal.img_animal.url }}" alt="{{ animal.nome }}">
                </div>
                <span id="titulo-anuncio">{{ animal.titulo }}</span>
                <p id="date-create"><i class="far fa-clock"></i>{{ animal.data_criacao }}</p>
                <p id="anuncio-animal">Anuncio de {{ animal.animal }}</p>
                <button><a href="{% url 'infomacao-anuncio' animal.pk %}">Ver descrição</a></button>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section class="sessoes">
    <div class="content-title-section">
        <span class="title-secition">Mais Animais Adoráveis</span>
        <a href="/search-animal/?q=Outros Animais">
            <p><i class="fas fa-plus"></i> Ver mais</p>
        </a>
    </div>
    <div id="content-animais-destaques">
        {% for animal in outros_animais|slice:"6" %}
        <div class="content-anuncio">
            <div class="anuncio">
                <div class="content-img">
                    <img src="{{ animal.img_animal.url }}" alt="{{ animal.nome }}">
                </div>
                <span id="titulo-anuncio">{{ animal.titulo }}</span>
                <p id="date-create"><i class="far fa-clock"></i>{{ animal.data_criacao }}</p>
                <p id="anuncio-animal">Anuncio de {{ animal.animal }}</p>
                <button><a href="{% url 'infomacao-anuncio' animal.pk %}">Ver descrição</a></button>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}

{% block scripts %}

{% endblock %}