{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Adicionar anuncio</title>
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/form_animal.css' %}">
{% endblock %}

{% block content %}
<div class="info-atualizar">
    <h1>Atualizar Anúncio</h1>
    <p>Você está prestes a atualizar seu anúncio</p>
</div>

<!-- Exibir a imagem existente -->
<div class="img_animal_update">
    <img src="{{ object.img_animal.url }}" alt="Imagem do animal">
</div>
<form method="post" enctype="multipart/form-data" class="form-adicionar-animal">
    {% csrf_token %}

    <div class="form-group">
        {{ form.img_animal.label_tag }}
        <input type="file" name="img_animal" id="img_animal_input" accept="image/*">
    </div>
    <div class="img_animal">
        <img id="img_preview" src="#" alt="Preview">
    </div>
    <div class="form-group">
        {{ form.titulo.label_tag }}
        {{ form.titulo }}
    </div>
    <div class="form-group">
        {{ form.nome_animal.label_tag }}
        {{ form.nome_animal }}
    </div>
    <div class="form-group">
        {{ form.sexo.label_tag }}
        {{ form.sexo }}
    </div>
    <div class="form-group">
        {{ form.raca.label_tag }}
        {{ form.raca }}
    </div>
    <div class="form-group">
        {{ form.animal.label_tag }}
        {{ form.animal }}
    </div>
    <div class="form-group">
        <label for="id_observacao">Observação:</label>
        {{ form.observacao }}
    </div>
    <button>Atualizar</button>
</form>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/img_preview.js' %}"></script>
{% endblock %}