{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Adicionar anuncio</title>
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/form_delete_animal.css' %}">
{% endblock %}

{% block content %}

<div class="info-delete">
    <h1>Confirmação de exclusão</h1>
    <p>Você está prestes a excluir seu anuncio</p>
</div>

<!-- Exibir a imagem existente -->
<div class="img_animal">
    <img src="{{ object.img_animal.url }}" alt="Imagem do animal">
</div>
<form method="post" enctype="multipart/form-data" class="form-adicionar-animal">
    {% csrf_token %}
    <button><i class="fas fa-trash"></i> Deletar</button>
</form>
{% endblock %}

{% block scripts %}

{% endblock %}