<!-- Seu template meus_anuncios.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Meus Anúncios</title>
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/meus_anuncios.css' %}">
{% endblock %}

{% block content %}
<section class="section-meus-anuncios">
    <div class="title-section">
        <h1>Meus Anúncios</h1>
    </div>
    <div class="content-anuncio">
        {% for anuncio in page_obj %}
            <div class="anuncio">
                <div class="content-img">
                    <img src="{{ anuncio.img_animal.url }}" alt="{{ anuncio.nome }}">
                </div>
                <span id="titulo-anuncio">{{ anuncio.titulo }}</span>
                <p id="date-create"><i class="far fa-clock"></i>{{ anuncio.data_criacao }}</p>
                <button><a href="{% url 'infomacao-anuncio' anuncio.pk %}">Ver descrição</a></button>
            </div>
        {% endfor %}
    </div>
</section>
<div class="pagination">
    <div class="pagination">
        <div class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}